langchain
langgraph
langchain-community
langchain-groq
langchain-huggingface
langchain-core
langchain-text-splitters
faiss-cpu
sentence-transformers
streamlit
python-dotenv
pypdf
chromadb
langchain-chromadb
langgraph-checkpoint-sqlite
langsmith